# Rust build target directories
/target/
target/
target*/
/target_rel/
target_rel/

# User configuration & local data (keeps personal paths private)
config.json

# IDE & OS configuration files
.vscode/
.idea/
*.swp
*.swo
*.tmp
*.log

# Windows System files
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# macOS files
.DS_Store

# Executable outputs (Uncomment line below if you upload release executables via GitHub Releases instead of Git)
# /dist/
